/*all*/
*{

   scroll-behavior: smooth;
}
body {
    background-color: rgb(138, 138, 138);
    background-repeat: repeat;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
     height: auto;

}

nav{
    text-align: center;
    display: inline-block;
    float: none;

}
.nav-tabs {
    text-align: center;
    margin-top: 10px;
    border-radius: 6px;

}
a:hover{
    background-color: rgba(203, 203, 203, 0.6);
}
.nav_background{
    background: rgba(225, 225, 225, 0.85);

}

footer{
    position: fixed;
    height: auto;
    width: 100%;


}
.checked {
    color: orange;
}



/* index */
.home_myname{
    background-color: #030303;
    color: white;
    text-align: center;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MDS {
width: 100%;
}

.MyCv{
    margin-top: 1%;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    align-items: center;
    justify-content: center;



}

.Welcomep {
    margin-top: 1%;
    margin-bottom: 1%;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    align-items: center;
    justify-content: center;


}

.Up-Word_background{
    display: inline-block;
    background-color: rgba(230, 230, 230, 0.8);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: #000000 solid 3px;
    width: 60%;



}

.Up-Word{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pr1h{
    font-size: 21px;
    font-family: sans-serif;
    font-style: normal;
    color: #000000;

}
.pr2h{
    font-size: 17px;
    font-family: sans-serif;
    font-style: normal;
    color: #000000;


}
.home_info_page {
    margin-top: 15px;
    background-color: rgba(230, 230, 230, 0.8);
    text-align: center;
    border-radius: 18px;
    border: #000000 solid 3px;
    width: 95%;
}

.home_info_page_center{

    display: flex;
    align-items: center;
    justify-content: center;

}



.S_E_E_M_C>div {
    font-size: 17px;
    font-family: sans-serif;

}

.S_E_E_M_C{
    margin-top: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    width: 98%;
    border-radius: 18px;
    border: #000000 solid 3px;

}
.home_section_info{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hbox1{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 45%;

}

.hbox2{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 45%;

}

.hbox3{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 45%;

}

.hbox4{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 45%;

}

.hbox5{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 45%;

}

.hbox_center{
    background-color: rgba(230, 230, 230, 0.8);
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: #000000 solid 3px;
    flex-direction: row;
    flex-wrap: wrap;




}



.hbox_center_cb{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}




.home_some_info_titles{

    text-align: center;
}
.h_inside_some_info{
    text-align: center;
    margin-top: 20px;
}


.ul_inside_some_info{
    list-style-type: disc;
    margin-top: 30px;

}
.ul_inside_some_info li {
    margin-top: 15px;
}




/* skills */



.bar1{
    margin-top: 50px;

}

.progress{

    margin-top: 50px;

}

.Skills_detail{
    margin-top: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    width: 98%;
    border-radius: 18px;
    border: #000000 solid 3px;

}
.Skills_detail_cnter {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}



.sbox1{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 30%;

}

.sbox2{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 30%;

}

.sbox3{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 30%;

}

.sbox4{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 30%;

}

.sbox5{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 30%;

}

.sbox6{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 30%;

}

.sbox7{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 30%;

}

.sbox8{
    margin: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 18px;
    border: #000000 solid 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 30%;

}
.sbox_center{
    background-color: rgba(230, 230, 230, 0.8);
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: #000000 solid 3px;
    flex-direction: row;
    flex-wrap: wrap;




}



.sbox_center_cb{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img_center{
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;

}


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(138, 138, 138, 0.68);
    position: fixed;
    height: 20%;
    overflow: auto;
}


/* contact info */
.cv_download{
    background-color: rgba(230, 230, 230, 0.8);
    display: flex;
    width: 400px;
    height: 450px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 18px;
    border: #000000 solid 3px;

}

.cv_download_center{

    display: flex;
    align-items: center;
    justify-content: center;


}
.content_info_page{
    margin-top: 25px;
    background-color: rgba(230, 230, 230, 0.8);
    text-align: center;
    border-radius: 18px;
    border: #000000 solid 3px;
    width: 85%;


}
.content_info_page_center{
    display: flex;
    align-items: center;
    justify-content: center;

}
.pr1c{

    font-size: 21px;
    font-family: sans-serif;
    font-style: normal;
    color: #000000;

}
.pr2c{

    font-size: 17px;
    font-family: sans-serif;
    font-style: normal;
    color: #000000;

}

.content_Download_bt{
    display: flex;
    align-items: center;
    justify-content: center;

}


/*screen size*/



@media screen and (max-width: 1200px){
    body {
        background-size: auto;
    }

}
.progress-bar {
    background-color: #22ff00;
}

@media screen and (max-width: 992px) {
    .hbox_center_cb{
        margin-left: auto;
        margin-right: auto;
    }
    .hbox_center {
        display: flex;
    }
    .progress{
        width: 50%;
    }
    .hbox1,.hbox2,.hbox3,.hbox4,.hbox5{

        width: 90%;
        height: auto;
        padding: 10px;

    }
    .sbox1,.sbox2,.sbox3,.sbox4,.sbox5,.sbox6,.sbox7,.sbox8{

        width: 90%;
        height: auto;
        padding: 10px;

    }

}

@media screen and (max-width: 576px) {


    body {
        background-size: auto;
    }
    .hbox1,.hbox2,.hbox3,.hbox4,.hbox5{

        width: 90%;
        height: auto;
        padding: 10px;

    }
    .sbox1,.sbox2,.sbox3,.sbox4,.sbox5,.sbox6,.sbox7,.sbox8{

        width: 90%;
        padding: 10px;

    }


    .inside_some_info{
        font-size: 30px;
    }


}
