/*all*/
*{

   scroll-behavior: smooth;
}
body {
    background-color: rgb(0, 0, 0);
    background-repeat: repeat;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
     height: auto;
    font-family: 'Adamina', serif;font-size: 22px

}

nav{
    text-align: center;
    display: inline-block;
    float: none;


}
.nav-tabs {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

}
.nav-link{
    color: #ffffff;
}

a:hover{
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s;

}
.nav-link:hover{
    color: #000000;
}

footer{
    position: fixed;
    height: auto;
    width: 100%;


}
.checked {
    color: #ff0000;
}









/* index */
.home_myname{
    background-color: #030303;
    color: white;
    text-align: center;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MDS {
width: 100%;
}

.MyCv{
    margin-top: 20px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;



}

.Welcomep {
    margin-top: 15px;
    margin-bottom: 25px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;


}

.Up-Word_background{
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;




}

.Up-Word{
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pr1h{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-style: normal;

}
.pr2h{
    font-size: 20px;
    font-family: sans-serif;
    font-style: normal;
    color: white;



}
.home_info_page {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    width: 75%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;

}

.home_info_page_center{

    display: flex;
    align-items: center;
    justify-content: center;

}



.home_section_info{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}



.hbox1{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 45%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;


}

.hbox2{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 45%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;

}

.hbox3{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 45%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;

}

.hbox4{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 45%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;

}

.hbox5{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 45%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;


}

.hbox_center{
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;




}



.hbox_center_cb{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.home_some_info_titles{

    text-align: center;
}
.h_inside_some_info{
    text-align: center;
    margin-top: 20px;
}


.ul_inside_some_info{
    list-style-type: disc;
    margin-top: 30px;

}
.ul_inside_some_info li {
    margin-top: 15px;
}




/* skills */



.bar1{
    margin-top: 50px;

}

.progress{

    margin-top: 50px;

}

.Skills_detail{
    display: inline-block;
    margin: 60px;
    width: 75%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;
    color: white;

}
.Skills_detail_cnter {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}



.sbox1{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 30%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;


}

.sbox2{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 30%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;


}

.sbox3{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 30%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;


}

.sbox4{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 30%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;


}

.sbox5{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 30%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;


}

.sbox6{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 30%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;


}

.sbox7{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 30%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;


}

.sbox8{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 30%;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;


}
.sbox_center{
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    flex-direction: row;
    flex-wrap: wrap;




}



.sbox_center_cb{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img_center{
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;

}


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(138, 138, 138, 0.68);
    position: fixed;
    height: 20%;
    overflow: auto;
}


/* contact info */
.cv_download{
    display: flex;
    width: 400px;
    height: 450px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;

}

.cv_download_center{

    display: flex;
    align-items: center;
    justify-content: center;


}
.content_info_page{
    color: white;
    margin: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 450px;
    border-radius: 12px;
    box-shadow: rgb(159, 90, 253,1) 0 0 70px 4px;

    text-align: center;
    width: 70%;


}
.content_info_page_center{
    display: flex;
    align-items: center;
    justify-content: center;

}




.pr1c{

    font-size: 21px;
    font-family: sans-serif;
    font-style: normal;
    color: white;

}
.pr2c{

    font-size: 17px;
    font-family: sans-serif;
    font-style: normal;
    color: white;

}

.content_Download_bt{
    display: flex;
    align-items: center;
    justify-content: center;

}


.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


.animation{

    animation: type 4s steps(50);
    overflow: hidden;
    white-space: nowrap;

}
@keyframes type {

    0%{
        width: 0%;
    }
    30%{
        width: 30%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 75%;
    }


}

.animationf{

    animation: type 6s steps(50);
    overflow: hidden;
    white-space: nowrap;

}
@keyframes type {

    0%{
        width: 0%;
    }
    30%{
        width: 30%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 75%;
    }


}








/*screen size*/


@media screen and (max-width: 1200px){
    body {
        background-size: auto;
    }

}
.progress-bar {
    background-color: #22ff00;
}

@media screen and (max-width: 992px) {
    .hbox_center_cb{
        margin-left: auto;
        margin-right: auto;
    }
    .hbox_center {
        display: flex;
    }
    .progress{
        width: 50%;
    }
    .hbox1,.hbox2,.hbox3,.hbox4,.hbox5{

        width: 90%;
        height: auto;
        padding: 10px;

    }
    .sbox1,.sbox2,.sbox3,.sbox4,.sbox5,.sbox6,.sbox7,.sbox8{

        width: 90%;
        height: auto;
        padding: 10px;

    }

}

@media screen and (max-width: 576px) {


    body {
        background-size: auto;
        height: auto;
        font-family: 'Adamina', serif;font-size: 12px


    }
    .hbox1,.hbox2,.hbox3,.hbox4,.hbox5{

        width: 90%;
        height: auto;
        padding: 10px;

    }
    .sbox1,.sbox2,.sbox3,.sbox4,.sbox5,.sbox6,.sbox7,.sbox8{

        width: 90%;
        padding: 10px;

    }
    .content_info_page{
        height: auto;
        padding: 5px;
        width: 100%;

    }

    .cv_download{
        width: 80%;
    }


    .inside_some_info{
        font-size: 30px;
    }


}
